/* .col-md-4 {
    float: left;
    position: relative;
    padding: 10px;
    margin: 10px;
} */
.margin-bottom.card {
    margin-bottom: 10px;
}

.card-body img:hover {
    opacity: 0.3;
}

/* 
.thumbnail {
    object-fit: scale-down;
    height: 250px;
    overflow: hidden;
    padding: 10px;
}

.profile {
    width: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    padding: 5px;
} */

/* .projects {
    float: right;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    padding: 5px;
} */

.aside {
    position: fixed;
    margin-left: 5px;
}

.listCardProject {
    @media only screen and (max-width:)
}

.body {
    background-color: bisque;
}

.icon {
    width: 20px;
    height: auto;
}

.icon hover {
    background-color: darkgrey;
}